{% extends 'base.html' %}

  {% block content %}
<div class="container" id="main">
  <h1>About the System</h1>
  <p>
    This system is developed to facilitate research collaboration and promote academic integrity at Haramaya University. It provides a centralized platform for researchers and students to manage their documents and detect plagiarism effectively.This system allows researchers and students at Haramaya University to upload, store, and share their research and project documents. It also integrates a plagiarism detection tool to ensure the originality of uploaded content.
  </p>
</div>
  {% endblock %}
